img {
  width: 300px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

#card {
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE;
  width: 300px;
  box-shadow: 5px 5px 0px #E6E6E6;
  padding: 0px 10px 10px 10px;
}

#info {
  border-style: inherit;
  border-width: inherit;
  border-color: inherit;
  margin-top: 15px;
  width: 269px;
  padding: 0px 15px 10px 15px;
}

.stats {
  font-weight: bold;
}

#summary {
     font-style: italic;
}
